<article class="product-detail">

      <div class="col-sm-6">
        <dl class="dl-horizontal">
        <%  reviews.each do |review|%>
          <dt> User </dt>
          <dd><%= review.user.name %></dd>
          <dt>Rating</dt>
          <dd><%= review.rating %>/5</dd>
          <dt>Review</dt>
          <dd><%= review.description %></dd>
          <br>
          <% end %>
        </dl>
      </div>



</article>