<article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <dl class="dl-horizontal">
        <%  reviews.each do |review|%>
          <dt> User </dt>
          <dd><%= review.user.name %></dd>
          <dt>Rating</dt>
          <dd><%= review.rating %></dd>
          <dt>Review</dt>
          <dd><%= review.description %></dd>
          <% end %>
        </dl>
      </div>
    </div>



</article>